

    #hamburger  {
        background-color: transparent;
        border: none;
        
        
    
        text-align: right;
        margin: auto;
        font-size: 2rem;
    }
    
  
    
    nav ul{display: none;}
    nav ul.open{display: block;}

