@media (max-width: 768px) {
    .hero {
        height: 40vh; /* Altura reduzida em dispositivos menores */
    }
    .hero h1 {
        font-size: 2em;
    }
    .hero p {
        font-size: 0.9em;
    }
    .cta-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
    
}
