@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

/* Color Theme Swatches in Hex */
/* title */
/* Paleta clássica: Azul escuro, branco e dourado. 
   Esta paleta transmite confiança e estabilidade, além de destacar a importância da tradição e da história da região. */

/* header */
/* azul  #14213d; */

/* footer e nav */
/* dourado #FFD700 */
/* nav */
/* #004b1c */
/* Fundo branco */

:root {
  --color_header: #14213d;
  --nav: #fff;
  --font_titles: 'Lato', sans-serif;
  --font_words: 'Ubuntu', sans-serif;
  --holder: red;
}

h1, h2, h3 {
  font-family: var(--font_titles);
}

body {
  display: block;
}

@media screen and (min-width: 840px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
    border: black solid 5px;
  }
}

header {
  background-color: var(--color_header);
  display: flex;
}

header img {
  filter: invert(1);
}

@media screen and (min-width: 840px) {
  nav {
    text-align: center;
    padding: 20px;
    max-width: 1920px;
  }
}

nav {
  display: block;
}

nav a {
  color: var(--nav);
  text-decoration: none;
}

nav a:hover {
  color: var(--holder);
}

/* main */
#des {
  margin: auto;
  width: 980px;
  height: 500px;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Design */

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

@media screen and (min-width: 840px) {
  table, th, td {
    border: 1px solid black;
  }
}

table.tabela1 {
  width: 100%;
  border: 1px solid black;
}

table .tabela1 {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

table.tabela1 td {
  border: 1px solid #606060;
  padding: 5px;
}

table.tabela1 td.bl {
  background-color: var(--color_header);
  color: var(--nav);
}

table.tabela1 td.gol {
  background-color: #FFD700;
}

table.tabela1 td.gr {
  background-color: #004b1c;
}

@media screen and (min-width: 840px) {
  footer {
    background-color: #606060;
    padding: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
  }
}

@media screen and (min-width: 840px) {
  h1, h2, h3, h4, h5 {
    font-family: var(--font_titles);
  }
  p {
    font-family: var(--font_words);
  }
}

/* Target */
h2.persona {
  margin: auto;
  text-align: center;
}

table.persona {
  margin: auto;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

table {
  width: auto;
  border: 1px solid black;
}

table.persona td {
  border: 1px solid black;
  padding: 10px;
}

table.persona th {
  border: 1px solid black;
  padding: 10px;
}

.tar {
  margin: 15px;
}

.sce {
  text-align: center;
}

.paragraph {
  text-align: center;
}

footer span {
  font-size: 1rem;
  color: yellow;
}
