@media only screen and (max-width: 600px) {
    header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    .social {
        flex-direction: column;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .hero {
        height: auto;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 0.8rem;
    }

    .cta-button {
        font-size: 0.8rem;
        padding: 8px 16px;
    }
        /* Hide the hamburger button for larger screens */
        #hamburger {
            display: none;
        }
        nav{grid-template-rows: 1fr;}
    
        /* Show the nav for larger screens */
        nav.li {
            display: block;
            position: static;
            background-color: transparent;
        }
    
        nav.li ul {
            display: flex;
            flex-direction: row;
        }
    }

