

/* Ajustes para telas ainda menores */
@media only screen and (max-width: 38rem) {
    
    .hero {
        height: 40vh; /* Ajuste de altura para telas menores */
    }

    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 0.8em;
    }

    .cta-button {
        font-size: 0.8em;
        padding: 6px 12px;
    }

    .principal {
        display: block;
    }

    .events, .weather, .call, .call2, .call3 {
        grid-column: auto;
        margin: 0.5rem 0;
    }

/* Show the hamburger button for small screens */

#menu {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    right: 8rem;
    z-index: 2;
}

/* When the nav is active, show it */
nav.li.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(26, 26, 226, 0.589);
    width: 100%;
    text-align: center;
}

/* Style the nav items for the mobile menu */
nav.li ul {
    display: flex;
    flex-direction: column;
}

nav.li ul li {
    margin: 0.5rem 0;
}

/*humburger section*/
#myButton{
    font-size: 2rem;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
    /*position of the humburguer*/
    position: absolute;
    top: 200px;
    right: 459px;

}
ul.primaryNav li a{
   
    display: block;
    padding: .75rem 2vw;
    color: #fff;
    text-decoration: none;
}

li.contener1 a{
    background-color: rgba(0, 0, 0, 0.2);
}
#myButton::before{
    content: "\2630";
}


ul.primaryNav.open{
    display: block;
}

/* serve para desaparecer o menu*/
ul.primaryNav {
   
    list-style-type: none; /* effects large*/
}

/*css for the opoen class*/


#myButton.open::before{
    content: "x";

}

nav{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul{ overflow: hidden;}

nav.open{
    grid-template-rows: 1fr;
}
    


    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer img {
        grid-column: 1 /2;
        text-align: center;
    }

    .footer .visit{
        grid-column: 2;
        text-align: center;

    }

 
    
}