*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    font-size: 2rem;
    margin: 0.3px;
}

header{
    background-color: rgba(51, 51, 150, 0.822);
    display: grid;
    grid-template-columns:  1fr  1fr 1fr;
    
    
    }
header img{
      
    width: 150px;
    height: auto;
    padding: 10px;
    
    grid-column-start: 1;
    grid-row: 1;
    border-radius: 15px;
    
}
header h2{
    display: flex;
    align-items: center;
    
    color: white;
}


nav{
   
    background-color: rgba(26, 26, 226, 0.589);
}
nav ul{
   
    list-style-type: none;
    
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
nav a:hover{
    color: yellow;
}

nav .active{
    background-color: rgba(0, 0, 0,0.3)
}

nav li{
    margin:auto;
    padding: 0.6rem;
}
image{
    align-items: center;
}
.parent{
    margin:1rem 2vw;
}

section{
    border: solid 1px;
    background-color: rgba(255, 192, 203, 0.527);
    box-shadow: 0.5px 2px 3px rgb(77, 70, 70);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    
}
 .parent h2{
    background-color: blue;
    color: white;
    display: block; /*server para preencher toda a borda*/
    text-align: center;
    padding: 0.75rem 0;
 
    
}
.parent ul{
    padding: 10px;
} 

.parent p{

    padding: 10px;
}




footer{
    background-color: rgba(51, 51, 150, 0.822);
    text-align: center;
}